<div class="container">
 <div class="group">
    <h1 class="article-title"><%= @article.title %></h1>
      <div class="icon">
        <%= link_to " ðŸ—‘ ", article_path(@article), method: :delete, data: { confirm: "are you sure?"} %>
        <%= link_to " ðŸ“ ", edit_article_path(@article) %>
      </div>
    <p class="article-content"><%= @article.content %></p>
 </div>
 <%= link_to "back to list", articles_path %>
</div>
